How many movies have revenue greater than 50 million but rating less than 7?

What is the total revenue generated by movies in the year 2015?

What is the average rating for the genre adventure in the year 2015?

What is the average duration of movies in rows 75 to 150? Please note that the rows in python start from 0.

Which year generated the highest revenue?

What is the maximum revenue out of (10,20,30,40,50) rows? [Note: Consider the revenue for ID not index value.]

How many movies with the genres ‘Adventure’, ‘Action’, ‘Horror’, and ‘Crime’ exist in the IMDB dataset?

Create a genre-level report with metrics average rating, the average number of votes, and average revenue. What is the average 
rating of the ‘Horror’ genre?

Create Custom column (Runtime_hours) using Runtime_miuntes and check which genre has the longest  Runtime_hours. *

Find the revenue of Genre (Action, Adventure, Horror) released before year 2014


211
8854.119999999999
6.8
127.35526315789474
2016
100.5
485
5.867391304347826
Action
25901.47

In [2]:
import numpy as np
import pandas as pd
import seaborn as snsn
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("IMDBMovie.csv")
df.head()

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02

In [4]:
df.size

9000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1000 non-null   int64
 1   Title             1000 non-null   object
 2   Genre             1000 non-null   object
 3   Director          1000 non-null   object
 4   Year              1000 non-null   int64
 5   Runtime_minutes   1000 non-null   int64
 6   Rating            1000 non-null   float64
 7   Votes             1000 non-null   int64
 8   Revenue_millions  872 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 70.4+ KB

In [6]:
# How many movies have revenue greater than 50 million but rating less than 7?
df.groupby('Title')['Revenue_millions']

In [7]:
df['Revenue_millions'].isnull().sum()

128

In [8]:
x=[(df['Revenue_millions']>50) & (df['Revenue_millions']<7)]

x

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 995    False
 996    False
 997    False
 998    False
 999    False
 Name: Revenue_millions, Length: 1000, dtype: bool]

In [9]:
# How many movies have revenue greater than 50 million but rating less than 7?
filtered_movies = df[(df['Revenue_millions'] > 50000000) & (df['Revenue_millions'] < 7000000)]

len(filtered_movies)

0

In [10]:
df.head()

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02

In [11]:
df.columns

Index(['ID', 'Title', 'Genre', 'Director', 'Year', 'Runtime_minutes', 'Rating',
       'Votes', 'Revenue_millions'],
      dtype='object')

In [12]:
# What is the total revenue generated by movies in the year 2015?
df.groupby('Revenue_millions')['Year'].max()

Revenue_millions
0.00      2016
0.01      2016
0.02      2015
0.03      2016
0.04      2016
          ...
533.32    2008
623.28    2012
652.18    2015
760.51    2009
936.63    2015
Name: Year, Length: 814, dtype: int64

In [13]:
x = df[df['Year']==2015]
x['Revenue_millions'].sum()

8854.119999999999

In [14]:
# What is the average duration of movies in rows 75 to 150? Please note that the rows in python start from 0.
df['Runtime_minutes'].mean()

113.172

In [15]:
# Slice the DataFrame for rows 75 to 150 (inclusive)
movies_subset = df.iloc[75:150+1]

# Calculate the average duration
average_duration = movies_subset['Runtime_minutes'].mean()
average_duration

127.47368421052632

In [16]:
df['Year'].value_counts()

2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: Year, dtype: int64

In [17]:
df.groupby('Year')['Revenue_millions'].max()

Year
2006    423.03
2007    336.53
2008    533.32
2009    760.51
2010    414.98
2011    380.96
2012    623.28
2013    424.65
2014    350.12
2015    936.63
2016    532.17
Name: Revenue_millions, dtype: float64

In [18]:
df.groupby('Year')['Revenue_millions'].sum()

Year
2006     3624.46
2007     4306.23
2008     5053.22
2009     5292.26
2010     5989.65
2011     5431.96
2012     6910.29
2013     7666.72
2014     7997.40
2015     8854.12
2016    11211.65
Name: Revenue_millions, dtype: float64

In [19]:
# Group the data by year and calculate the sum of revenue for each year
revenue_by_year = df.groupby('Year')['Revenue_millions'].sum()

# Find the year with the highest total revenue
year_highest_revenue = revenue_by_year.idxmax()

year_highest_revenue

2016

In [20]:
df['Revenue_millions'].max()

936.63

In [ ]:
df.head(75)

In [22]:
# What is the maximum revenue out of (10,20,30,40,50) rows? [Note: Consider the revenue for ID not index value.]
df['Revenue_millions']

0      333.13
1      126.46
2      138.12
3      270.32
4      325.02
        ...
995       NaN
996     17.54
997     58.01
998       NaN
999     19.64
Name: Revenue_millions, Length: 1000, dtype: float64

In [24]:
# List of IDs to consider
ids_to_consider = [10, 20, 30, 40, 50]

# Filter the DataFrame to include only the rows with the specified IDs
filtered_df = df[df['ID'].isin(ids_to_consider)]

# Find the maximum revenue among the filtered rows
max_revenue = filtered_df['Revenue_millions'].max()

max_revenue

100.5

In [ ]:
df['Genre'].value_counts() # Adventure', 'Action', 'Horror', 'Crime'

In [23]:
# List of genres to filter
genres_to_filter = ['Adventure', 'Action', 'Horror', 'Crime']

# Create a Boolean Series to check if each row's genre contains all the specified genres
genre_filter = df['Genre'].str.contains('|'.join(genres_to_filter), case=False)

# Use the genre filter to select rows that match the specified genres
filtered_movies = df[genre_filter]

# Count the number of movies that meet the genre criteria
num_movies_with_genres = len(filtered_movies)

num_movies_with_genres

485

In [25]:
# How many movies with the genres ‘Adventure’, ‘Action’, ‘Horror’, and ‘Crime’ exist in the IMDB dataset?
# List of IDs to consider
ids_to_consider = ['Adventure', 'Action', 'Horror', 'Crime']

# Filter the DataFrame to include only the rows with the specified IDs
filtered_df = df[df['ID'].isin(ids_to_consider)]

# Find the maximum revenue among the filtered rows
max_revenue = filtered_df['Revenue_millions'].max()

max_revenue

nan

In [ ]:
# Create a genre-level report with metrics average rating, the average number of votes, 
# and average revenue. What is the average rating of the ‘Horror’ genre?

In [ ]:
df['Rating'].mean()
df['Votes'].mean()
df['Revenue_millions'].mean()
df['genre-level report'] = df['Rating'].mean() + df['Votes'].mean() + df['Revenue_millions'].mean()

In [ ]:
df.head()

In [ ]:
import pandas as pd

f = pd.DataFrame(df)

# Group the data by genre and calculate metrics
genre_metrics = df.groupby('Genre').agg({
    'Rating': 'mean',            # Average rating
    'Votes': 'mean',            # Average number of votes
    'Revenue_millions': 'mean'  # Average revenue
}).reset_index()

# Display the genre-level report
print(genre_metrics)

In [ ]:
# Find the average rating for the 'Horror' genre
average_rating_horror = genre_metrics[genre_metrics['Genre'] == 'Horror']['Rating'].values[0]
average_rating_horror

In [ ]:
# Create Custom column (Runtime_hours) using Runtime_miuntes and check which genre has the longest  Runtime_hours.
df['Runtime_miuntes']

In [ ]:


# Step 1: Create the 'Runtime_hours' column (convert minutes to hours)
df['Runtime_hours'] = df['Runtime_minutes'] / 60

# Step 2: Group the data by genre and calculate the maximum 'Runtime_hours' for each genre
genre_max_runtime = df.groupby('Genre')['Runtime_hours'].max().reset_index()

# Step 3: Identify the genre with the longest runtime
longest_runtime_genre = genre_max_runtime[genre_max_runtime['Runtime_hours'] == genre_max_runtime['Runtime_hours'].max()]

# Display the genre with the longest runtime
print("Genre with the Longest Runtime (in hours):")
print(longest_runtime_genre)

In [ ]:
# Find the revenue of Genre (Action, Adventure, Horror) released before year 2014

In [26]:

# Define the genres and the cutoff year
genres_to_include = ['Action', 'Adventure', 'Horror']
cutoff_year = 2014

# Step 1: Filter the DataFrame based on genres and release year
filtered_df = df[(df['Genre'].isin(genres_to_include)) & (df['Year'] < cutoff_year)]

# Step 2: Calculate the total revenue for each genre
genre_revenue_totals = filtered_df.groupby('Genre')['Revenue_millions'].sum().reset_index()

# Display the total revenue for each genre
print("Total Revenue for Genres (Action, Adventure, Horror) Released Before 2014:")
print(genre_revenue_totals)

Total Revenue for Genres (Action, Adventure, Horror) Released Before 2014:
       Genre  Revenue_millions
0     Action          19992.75
1  Adventure           5104.19
2     Horror            804.53

In [30]:


# Define the year to filter
target_year = 2015

# Step 1: Filter the DataFrame based on the year
filtered_df = df[df['Year'] == target_year]

# Step 2: Calculate the total revenue for the filtered year
total_revenue_2015 = filtered_df['Revenue_millions'].sum()

# Display the total revenue for the year 2015
print(f"Total revenue generated by movies in the year 2015: {total_revenue_2015} million")

Total revenue generated by movies in the year 2015: 8854.119999999999 million

In [29]:

# Define the target genre and year
target_genre = 'Adventure'
target_year = 2015

# Step 1: Filter the DataFrame based on genre and year
filtered_df = df[(df['Genre'] == target_genre) & (df['Year'] == target_year)]

# Step 2: Calculate the average rating for the filtered genre and year
average_rating_adventure_2015 = filtered_df['Rating'].mean()

# Display the average rating for 'Adventure' genre in the year 2015
average_rating_adventure_2015

6.8

In [28]:
# Define the revenue and rating thresholds
revenue_threshold = 50
rating_threshold = 7.0

# Step 1: Filter the DataFrame based on revenue and rating
filtered_df = df[(df['Revenue_millions'] > revenue_threshold) & (df['Rating'] < rating_threshold)]

# Step 2: Count the number of movies that meet the criteria
num_movies = len(filtered_df)

# Display the count of movies that meet the criteria
print(f"Number of movies with revenue > {revenue_threshold} million and rating < {rating_threshold}: {num_movies}")

Number of movies with revenue > 50 million and rating < 7.0: 211